<section id="galery">
    <h1 class="gallery-title text-center">GALLERY</h1>
    <!-- Gallery -->
    <div class="container">

        <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Our Timeline</h1>

        <hr class="mt-2 mb-5">

        <div class="row text-center text-lg-start">

            <div class="col-lg-3 col-md-4 col-6" *ngFor="let item of image">
                <a type="button" class="d-block mb-4 h-100" id="{{item.id}}" >
                    <img class="img-fluid custom-image" src="{{item.imageSrc}}" alt="" (click)="onClick($event)" data-bs-toggle="modal" data-bs-target="#myModal">
                </a>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="{{imgSrc}}" style="width:100%;cursor:pointer" class="modal-hover-opacity" />
                </div>
               
            </div>
        </div>
    </div>
</section>